<!DOCTYPE html>
<style>
	html, body {
		margin: 0;,
		padding: 0;
		background: #333;
	}
	main {
		width: 100vw;
		height: 100vh;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	img {
		max-width: 100%;
		max-height: 100%;
		margin: 0;
	}
</style>

<main>
	<img>
</main>

<script id="data" type="application/json">
${data}
</script>

<script>
	var images = document.getElementById('data').innerHTML;
	images = JSON.parse(images);

	var img = document.querySelector('img');

	var pictureHistory = {
		stack: [],

		push: function (entry) {
			this.stack.push(entry);
			this.pointer = this.stack.length - 1;
		},

		back: function () {
			if (this.pointer > 0) {
				this.pointer--;
			}
			return this.stack[this.pointer];
		}
	};

	function random () {
		var randomIndex = Math.round(Math.random() * images.length);
		var nextImage = images[randomIndex];
		pictureHistory.push(nextImage);
		img.src = nextImage;
	}

	function back () {
		img.src = pictureHistory.back();
	}

	document.addEventListener('keypress', function (event) {
		if (event.keyCode === 98) {  // b
			back();
		} else {
			random();
		}
	});
</script>
