<!DOCTYPE html>
<style>
	html, body {
		margin: 0;,
		padding: 0;
		background: #333;
	}
	main {
		width: 100vw;
		height: 100vh;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	img {
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto;
	}
</style>

<main>
	<img>
</main>

<script id="data" type="application/json">
${data}
</script>

<script>
	var images = document.getElementById('data').innerHTML;
	images = JSON.parse(images);

	var img = document.querySelector('img');

	var index = 0;

	var pictureHistory = {
		stack: [],

		push: function (index) {
			this.stack.push(index);
			this.pointer = this.stack.length - 1;
		},

		back: function () {
			if (this.pointer > 0) {
				this.pointer--;
			}
			return this.stack[this.pointer];
		}
	};

	function random () {
		index = Math.round(Math.random() * (images.length - 1));
		pictureHistory.push(index);
		var nextImage = images[index];
		img.src = nextImage;
	}

	function back () {
		index = pictureHistory.back();
		img.src = images[index];
	}

	function next () {
		if (index < images.length - 1) {
			pictureHistory.push(++index);
			var nextImage = images[index];
			img.src = nextImage;
		}
	}

	document.addEventListener('keydown', function (event) {
		switch (event.keyCode) {
			case 32:  // space bar
				random();
				break;
			case 66:  // b
			case 37:  // arrow left
				back();
				break;
			case 39:  // arrow right
				next();
				break;
		}
	});

	pictureHistory.push(index);
	img.src = images[index];
</script>
